---
import Layout from "../../components/Layout.astro";
---

<Layout title="謝罪文メーカー｜1分ツール" description="謝罪文メーカーは準備中です。">
  <main class="page">
    <div class="container content">
      <h1>謝罪文メーカー</h1>
      <p>このツールは準備中です。遅延、ミス、連絡漏れなどのお詫びメールを作れるようにする予定です。</p>
      <p><a href="/tools/keigo-mail/">敬語メール返信メーカー</a> は利用できます。</p>
    </div>
  </main>
</Layout>
