---
import Layout from "../../components/Layout.astro";
---

<Layout title="お礼メールメーカー｜1分ツール" description="お礼メールメーカーは準備中です。">
  <main class="page">
    <div class="container content">
      <h1>お礼メールメーカー</h1>
      <p>このツールは準備中です。取引先や社内向けのお礼メールをすぐ作れるようにする予定です。</p>
      <p><a href="/tools/keigo-mail/">敬語メール返信メーカー</a> は利用できます。</p>
    </div>
  </main>
</Layout>
